<main class="container">
    <h1>Existing Links</h1>

    {{#each seriesList}}

        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">

            <a
                href="#collapse{{@index}}"
                class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom"
                data-bs-toggle="collapse"
                role="button"
                aria-expanded="false"
                aria-controls="collapse{{@index}}"
            >
                <span class="fs-5 fw-semibold">{{@key}} <small>({{this.length}})</small></span>
            </a>

            <div
                id="collapse{{@index}}"
                class="collapse list-group list-group-flush border-bottom scrollarea"
            >

                {{#each this}}

                    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">Source: {{this.linkPath}}</strong>
                            <small>Wed</small>
                        </div>
                        <div class="col-10 mb-1 small">Target:
                            {{this.sourcePath}}<br />
                            <pre>{{json this.metaData}}</pre><br />
                        </div>
                    </a>
                {{/each}}

            </div>
        </div>

    {{/each}}
</main>